/* NAVIGATION */

.main-nav {
    list-style: none;
    padding: 20px 0;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li:first-child {
        margin-left: 0;
    }

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-color: #2ecc71;
}

#nav-active-el {
    color: #2ecc71;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 0 1px 1px #333;
    background-color: #444;
}

.mobile-nav-icon {
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i,
.open-mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

.open-mobile-nav-icon {
    position: absolute;
    right: 20px;
    top: 9px;
    cursor: pointer;
}

.mobile-current-nav {
    display: none;
    text-align: center;
    background-color: #444;
    color: #2ecc71;
    padding: 20px 0;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
}