@import url(basic-setup.css);
@import url(reusable/headings.css);
@import url(reusable/naviagtion.css);
@import url(reusable/buttons.css);
@import url(reusable/footer.css);
@import url(reusable/box.css);
@import url(reusable/queries.css);

body {
    height: 100vh;
    background-color: #f4f4f4;
}

.total-amount {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.total-amount span {
    font-size: 200%;
    color: #2ecc71;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
}

.action-buttons {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2ecc71;
}

.row.action-buttons .btn {
    margin-left: 20px;
}

.section-dashboard .btn {
    font-size: 80%;
    padding: 7px 10px;
}

.widget-details-data {
    font-size: 80%;
    font-weight: 400;
}

.widget-details-data .row div:first-child {
    text-align: left;
}

.widget-details-data .row div:last-child {
    text-align: right;
}

.widget-summary {
    font-size: 300%;
    margin-bottom: 10px;
    color: #2ecc71;
}

.widget-summary span {
    font-size: 30%;
}

.possible-to-spent {
    font-size: 80%;
}

.possible-to-spent span {
    color: #2ecc71;
}